body {
    background-color: #FEECB8; /* Set the background color to orange */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #FF5733; /* Set the text color to a shade of orange */
}
.button-container {
    display: flex;
    justify-content: center;
}
#canvas {
    background-color: #FF5733; /* Set the canvas background color to orange */
}

#ExtractButton, #ClearButton {
    background-color: #FF5733; /* Set the button background color to orange */
    color: white; /* Set the text color of the buttons to white */
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: 4px solid green; /* Add a border to the buttons */
    border-radius: 10px; /* Add border radius to create rounded corners */
}

#arrayDisplay {
    background-color: #FFC300; /* Set the div background color to another color (light yellow) */
    padding: 10px;
    margin: 10px;
}